nav {
    padding: 5px;
    background: limegreen;
    display: flex;
    gap: 10px;
    align-items: center;


      div.navItem a {
        color: white;
        text-decoration: none;
        &:hover { color: black; }
      }

}